<ul> 
    <% @artists.each do |inst| %> 
        <li>
            <a href="/artists/<%= inst.id %>">
                <%= inst.name %> 
            </a>
        </li>
    <% end %>








</ul>

#shows a list of all paths