<% #create a new instance, takes us to POST %>

<form action="/artists" method="POST"> 
    <label for="name"> Name: </label>
    <input id="name" type="text" name="name"/>
    
    <label for="age"> Age: </label>
    <input id="age" type="number" name="age"/>

    <label for="bio"> Bio: </label>
    <input id="bio" type="string" name="bio"/>

    <input type="submit">

</form>

